.month{
    margin-bottom:20px;
}
.month h1{
    background-color:#1AACAC;
    color:white
}
.filter{
    display:flex;
    align-items: center;
    text-align: center;
    margin-left:600px;
    margin-bottom: 30px;
}
.filter_title{
    margin-right: 20px;
    text-align: center;
}