<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee database</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9fe3d1bfff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
            <form class="d-flex col-8 my-2" role="search">
              <input class="form-control me-2" type="search" id="search_bar" placeholder="Search by Name" aria-label="Search">
              
            </form>
          </div>
        </div>
      </nav>
    </div>
    <h2 class="filters_title my-3">Search by filters:</h2>
    <div class=" filter">
      <div class="my-2">
        <label for="project" class="label">Project:</label>
        <select name="project" id="project" class="select_project">
          <option value="Project 1" class="dropdown_item">Project 1</option>
          <option value="Project 2" class="dropdown_item">Project 2</option>
          <option value="Bench" class="dropdown_item">Bench</option>
        </select>
      </div>
      <div>
        <label for="designation" class="label">Designation:</label>
        <select name="designation" id="designation">
          <option value="Sr. QA Engineer">Sr. QA Engineer</option>
          <option value="QA Engineer">QA Engineer</option>
          <option value="designation 1">Designation 1</option>
        </select>
      </div>
      <div>
        <label for="employment_status" class="label">Employment Status:</label>
        <select name="employment_status" id="employment_status">
          <option value="Billable">Billable</option>
          <option value="Maternity">Maternity</option>
          <option value="Employment status 1">Employment status 1</option>
        </select>
      </div>
    </div>
    <h1 class="title my-2"><center>Employee's Data</center></h1>
    
      
    <div class="table my-4">
      <table class="table highlighted_row">
        <thead>
          <tr>
            <th scope="col" class="table_header">Sno</th>
            <th scope="col" class="table_header" >Emp_id</th>
            <th scope="col" class="table_header">Name</th>
            <th scope="col" class="table_header">Designation</th>
            <th scope="col" class="table_header">Department</th>
            <th scope="col" class="table_header">Project</th>
            <th scope="col" class="table_header">Job_role</th>
            <th scope="col" class="table_header">Employment_status</th>
            <th scope="col" class="table_header">Joining_date</th>
            <th scope="col" class="table_header">Experience</th>
            <th scope="col" class="table_header">Location</th>
            <th scope="col" class="table_header">Last_promoted</th>
            <th scope="col" class="table_header">Comments</th>
            
          </tr>
        </thead>
        <tbody>
        
          {% for employee in data %}
          <tr>
            <th scope="row" >{{loop.index}}</th>
            <td class="emp_id" class="table-primary">{{employee.Emp_id}}</td>
            <td id="Name">{{employee.Name}}</td>
            <td id="Designation">{{employee.Designation}}</td>
            <td>{{employee.Department}}</td>
            <td id="Project">{{employee.Project}}</td>
            <td>{{employee.Job_role}}</td>
            <td id="employment_status">{{employee.Employment_status}}</td>
            <td>{{employee.Joining_date}}</td>
            <td>{{employee.Experience}}</td>
            <td>{{employee.Location }}</td>
            <td>{{employee.Last_promoted }}</td>
            <td>{{employee.Comments}}</td>
            <!-- <td><a href="" type="button" class="btn btn-outline-secondary btn-sm mx-1">Update</button></td> -->
            <td><a class="icon-1" href="/update/{{employee.Sno}}"><i class="fa-solid fa-pencil mx-2"></i></a></td>  
            <td><a href="/delete/{{employee.Sno}}"><i class="fa-solid fa-trash mx-2"></i></a></td>
            <td><a class="icon-2" href="/view/{{employee.Sno}}"><i class="fa-solid fa-eye mx-2"></i></a></td>
              <!-- <td><a href="" type="button" class="btn btn-outline-secondary btn-sm mx-1">Delete</button></td>   -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
      <a href="/add" type="button" class="btn btn-primary my-3 mx-3">Add a new user</button>
      <a href="/bulk" type="button" class="btn btn-primary my-3">Bulk add</button>  
    <script src="{{ url_for('static', filename='index.js') }}"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
