<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center;background-color:#4699F9; color: white;">Upload multiple zip folders</h1>
    <div class="container" style="margin-top:200px; margin-left:460px;">
        <form action="/zip" method="POST" enctype="multipart/form-data">
            <div class="filter" style="margin-bottom:40px;">
                <label for="tag"  style="font-size:30px; color:#1AACAC;">Select:</label>
                <select id="tag" name="tag">
                  <option></option>
                  <option value="Interns">Interns</option>
                  <option value="Delivery Manager">Delivery Manager</option>
                  <option value="QA architect">QA architect</option>
                  <option value="Performance Tester">Performance Tester</option> 
                </select>
            </div>
            <label for="zipFilesInput" style="font-size: 25px; color:#1AACAC; margin-right: 20px;">Select zip folders :</label>
            <input type="file" id="zipFilesInput" name="zipFiles" accept=".zip" multiple>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>